.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
    color: red;
    padding: 5px 10px;
    border: 1px solid #ec8484;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
