.button {
    padding: 5px 15px;

    border: none;
    border-radius: 5px;
}

.disabled {
    background-color: #a2b8e7;
    color: #8c8c8c;
}

.secondary {
    border: 1px solid #2671e5 ;
    background-color: #d6e6fc;
    color: #2671e5 ;
}

.default {
    background-color: #2671e5;
    color: white;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
